.vscode
requirements.txt
.github/workflows/pytest.yml
__pycache__
*/__pycache__
./__pycache__
.DS_Store
*/.DS_Store
.pytest_cache
*/.pytest_cache
*.pyc
*/*.pyc
*.pyc
docs/node_modules
build
dist
*.ipynb
