[tool.black]
line-length = 119
py38 = true
py39 = true
py310 = true
py311 = true
py312 = true
target-version = ['py312', 'py311', 'py310', 'py39', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist

    # The following are specific to Black, you probably don't want those.
    | blib2to3
    | tests/data
)/
'''

[tool.isort]
profile = 'black'


[tool.zimports]
black-line-length = 119
keep-unused-type-checking = true
